.demo-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* Căn toàn bộ nội dung sang bên phải */
  align-items: flex-center;
  text-align: center;
  /* Canh chữ sang phải */
}


.logo {
  width: 100px;
  margin-left: 20px;
}

.no-data {
  padding: 20px;
  color: red;
  font-style: italic;
}

.file-section {
  margin-top: 15px;
}

.uploaded-img {
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.file-preview {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
}

.export-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background: #1a75bf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.export-btn:hover {
  background: #155a91;
}