/* Reset + Container chung */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #eff7fd;
}

.main-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
