.right-side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  background-color: #557c8e;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.tab {
  flex: 1;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  border-right: 1px solid #9ca6af;
  background: #7895a4;
}

.tab.active {
  background: #376482;
  font-weight: 700;
}

.info-tip {
  font-size: 12px;
  color: #2375a7;
  background: #eff7fd;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 1px solid #ccc;
}

.tables {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

.table-btn {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f4f4f4;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.table-btn:hover {
  background: #d9f0ff;
}

.active-table {
  background: #04027b;
  color: white;
  border-color: #0d0a96;
}
